.header
  = render 'players/header'

.tmain
  .tmain__box
    .tmain__box__tweet
      .tmain__box__tweet__image
      .tmain__box__tweet__text 
        hon
        = link_to 'もっと見る＞', '#',class: 'tmain__box__tweet__text__link' 
      .tmain__box__tweet__name 
        harry