.header
  =render 'header'
.new__player
  .new__player__title 選手登録ページ
  = form_for @player do |f|
    .new__player__title__name
      = f.text_field :name, placeholder:'選手名を入力してください',class:'new__player__title__name__text'
      = f.file_field :image, placeholder:'画像を選択してください',class:'new__player__title__name__image',id:'image_file'