* {
  box-sizing: border-box;
  text-decoration: none;
}
.header {
  background-color:black;
  height: 150px;
  &__image{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    &__logo {
      color: white;
      font-family: 'Impact';
      font-size: 70px;
      letter-spacing: 5px;
      color: cornsilk;
      line-height: 1;
      padding: 20px 0;
      .mlb {
        color: cornsilk;
      }
    }
    &__form{
      text-align: right;
      .link{
        color: white;
        font-size: 20px;
        letter-spacing: 5px;
        padding-left: 10px;
      }
    }
  }
}
  


.side {
  background: black;
  color: white;
  display: flex;
  &__menu{
    text-align: center;
    font-size: 20px;
    height: calc(100vh - 150px);
    width: 250px;
  }
  .main{
    background-color: gray;
    width: calc(100vw - 250px);
    overflow-y: scroll;
    &__text{
      padding: 20px;
      width: 200px;
      height: 250px;

    }
      &__box{
        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - 250px);
        li{
          padding-right: 30px;
          width: 220px;
          padding-bottom: 20px;
          text-align: center;
        }
          a{
            text-decoration: none;
            color: white;
          }
      }
    }
}



