* {
  box-sizing: border-box;
  text-decoration: none;
}
.tmain{
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  &__box{
    height: 100%;
    width: calc(100vw - 300px);
    margin: 0 auto;
    background-color: grey;
    padding: 10px 0;
    &__tweet{
      height: 100px;
      width: calc(100vw - 350px);
      margin: 30px auto;
      background-color: aqua;
      display: flex;
      &__image{
        height: 100%;
        width: 10%;
      }
      &__text{
        height: 100%;
        width: 80%;
        position: relative;
        &__link{
          color: white;
          position: absolute;
          right: 1%;
          bottom: 10%;
        }
      }
      &__name{
        height: 100%;
        width: 10%;
      }
    }
  }
}



