.nmain{
  height: 1000px;
  width: 100%;
  text-align: center;
  background-image: image-url("/CorkBoard.jpg");
  &__title{
    font-size: 60px;
  }
  &__box{
    height: 90%;
    width: calc(100vw - 300px);
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 15px;
    &__name{
      height: 50px;
      width: 50%;
      display: inline-block;
      font-size: 40px;
    }
    &__label{
      height: 120px;
      
      &__text{
        font-size: 30px;
        border: 1px solid;
        border-radius: 15px;
        background: aliceblue;
        padding: 10px;
        line-height: 120px;
        cursor: pointer;
        &:hover{
          @include hover_opacity;
        }
      }
      &__image{
        display: block;
        margin: 0 auto;
        // display: none;
        height: 130px;
        margin-bottom: 20px;
      }
    }
    &__text{
      display: inline-block;
      height: 60%;
      width: 60%;
      font-size: 30px;
    }
    &__submit{
      display: block;
      width: 30%;
      margin: 0 auto;
      background: floralwhite;
      font-size: 30px;
      margin-top: 25px;
      border-radius: 15px;
      cursor: pointer;
      &:hover{
        @include hover_opacity;
      }
    }
  }
  
}

.new_tweet{
  height: 80%;
  width: 80%;
  margin: 0 auto;
}
