.smain{
  height: 100vh;
  width: 100%;
  background-color: white;
  &__box{
    width: calc(100vw - 300px);
    background-color: grey;
    margin: 50px auto;
    display: flex;
    height: 600px;
    &__text{
      text-align: right;
      font-size: 30px;
      padding: 20px;
      &__field{
        display: inline-block;
        height: 40px;
        width: 400px;
      }
      &__submit{
        display: inline-block;
        width: 30%;
      }
    }
  }
  h2{
    font-size: 60px;
    color: honeydew;
    padding:20px 0 0 20px ;
  }
  .new_user{
    width: 60%;
  }
}

